<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
  .sidemenu {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .main_content {
    margin-left: 170px;
    padding: 0px 10px;
  }
  .bodies{
    background-color: #5AD162;
  }
  .titles{
    background-color: #009600;
  }
  </style>
</head>

<body>
  <div class="sidemenu" align="center">
    <p><a href="{%url 'home' %}">Home</a></p>
    <p><a href="{%url 'about' %}">About</a></p>
    <p><a href="{%url 'members' %}">Members</a></p>
    <p><a href="{%url 'projects' %}">Projects</a></p>
  </div>
  <title>Home Page</title>
  <div class="main_content titles" align="center">
    <h1>THE COMPUTER SCIENCE CLUB</h1>
  </div>
  <div class="main_content bodies" align="center">
    <div class="row">
      <div class="col">
        <title>Project List</title>
        <h2>List of all Projects</h2>
        <ul>
        {% for project_obj in object_list %}
          <li><a href="{% url 'projects' project_obj.pk %}">
          Project:{{ project_obj.title }} Deadline: {{ project_obj.date }}</a></li>
        {% endfor %}
      </ul>
      </div>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>


</html>

